body{
font-family: Arial;
background:#eef2f7;
display:flex;
justify-content:center;
margin-top:40px;
}

.container{
background:white;
padding:25px;
width:500px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
}

.input-section{
display:flex;
gap:5px;
margin-bottom:10px;
}

button{
background:#28a745;
color:white;
border:none;
padding:8px;
cursor:pointer;
}

.completeBtn{
background:#007bff;
margin-left:5px;
}

.delete{
background:red;
margin-left:5px;
}

li{
background:#eee;
margin-top:10px;
padding:10px;
display:flex;
justify-content:space-between;
align-items:center;
border-radius:5px;
}

.completed{
text-decoration:line-through;
color:gray;
}

.stars{
color:gold;
font-size:18px;
margin-left:10px;
}

.progress-bar{
width:100%;
background:#ddd;
height:20px;
border-radius:10px;
margin-bottom:15px;
}

#progressFill{
height:100%;
width:0%;
background:#28a745;
border-radius:10px;
}